<app-header></app-header>
<main>
    <ul>
        <li>
            <!-- <app-user 
            [id]="users[0].id" 
            [name]="users[0].name"
            [avatar]="users[0].avatar"
            (select)="onSelectUser($event)"/> -->

            <app-user
            [user]="users[0]"
            (select)="onSelectUser($event)"/>

        </li>
        <li>
            <!-- <app-user 
            [id]="users[1].id" 
            [name]="users[1].name"
            [avatar]="users[1].avatar"
            (select)="onSelectUser($event)"/> -->

            <app-user
            [user]="users[1]"
            (select)="onSelectUser($event)"/>

        </li>
        <li>
            <!-- <app-user 
            [id]="users[2].id" 
            [name]="users[2].name"
            [avatar]="users[2].avatar"
            (select)="onSelectUser($event)"/> -->

            <app-user
            [user]="users[2]"
            (select)="onSelectUser($event)"/>

        </li>
    </ul>
    <app-tasks [name]="selectedUser ? selectedUser.name:''"/>
</main>
